{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bci</h1>

    <table>
        <tbody>
            <tr>
                <th>Date</th>
                <td>{% if bci.date %}{{ bci.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ bci.objet }}</td>
            </tr>
            <tr>
                <th>Idbci</th>
                <td>{{ bci.idbci }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bci_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bci_edit', { 'id': bci.idbci }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
