{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}


    {% block coname %}    {{parent()}}  Strucutre : {{ structure.libellestructure }} {% endblock %}
    {{parent()}}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Libellestructure</th>
                <td>{{ structure.libellestructure }}</td>
            </tr>
            <tr>
                <th>Datefinvalidite</th>
                <td>{% if structure.datefinvalidite %}{{ structure.datefinvalidite|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
 
            
        </tbody>
    </table>

            <a href="{{ path('structure_index') }}" class="btn btn-warning"  >Revenir a la list</a>

            <a href="{{ path('structure_edit', { 'id': structure.idstruct }) }}" class="btn btn-info btn-md" >Modifier</a>
            <a href="{{ path('structure_del', { 'id': structure.idstruct }) }}" class="btn btn-danger btn-md" >Supprimer</a>

{% endblock %}
