{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {% endblock %}
    
{% block body %}
    
        
  {% block coname %}    {{parent()}}  Compte : {{ comptebancaire.proprietaire }} {% endblock %}
{{parent()}}

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Numrib</th>
                <td>{{ comptebancaire.numrib }}</td>
            </tr>
            <tr>
                <th>Datefinvalidite</th>
                <td>{% if comptebancaire.datefinvalidite %}{{ comptebancaire.datefinvalidite|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Proprietaire</th>
                <td>{{ comptebancaire.proprietaire }}</td>
            </tr>

        </tbody>
    </table>

            <a href="{{ path('comptebancaire_index') }}"  class="btn btn-warning"  >Revenir a la list</a>
            <a href="{{ path('comptebancaire_edit', { 'id': comptebancaire.idcompte }) }}"  class="btn btn-info btn-md" >Modifier</a>
            <a href="{{ path('comptebancaire_del', { 'id': comptebancaire.idcompte }) }}" class="btn btn-danger btn-md" >Supprimer</a>
 
      

{% endblock %}
