{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {% endblock %}
    
{% block body %}
    
        
  {% block coname %}    {{parent()}}  Natures des produits {% endblock %}
{{parent()}}

        <div>
            <label style="color: black;" >Rechercher </label>
       
       <input id="searchInput" />
       <br>
        </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Date fin validité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="fbody">
        {% for natureproduit in natureproduits %}
            <tr>
                <td><a href="{{ path('natureproduit_show', { 'id': natureproduit.idnature }) }}">{{ natureproduit.libelle }}</a></td>
                <td>{% if natureproduit.datefinvalidite %}{{ natureproduit.datefinvalidite|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
          
                            <a href="{{ path('natureproduit_show', { 'id': natureproduit.idnature }) }}" class="btn btn-warning btn-md" role="button">Afficher</a>
                            <a href="{{ path('natureproduit_edit', { 'id': natureproduit.idnature }) }}"  class="btn btn-info btn-md" role="button">Modifier</a>
                            <a href="{{ path('natureproduit_del', { 'id': natureproduit.idnature }) }}"  class="btn btn-danger btn-md" role="button">Supprimer</a>
        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            <a href="{{ path('natureproduit_new') }}"class="btn btn-success btn-md" >Ajouter un nouvelle nature</a>
      <script>
function myFunction() {
    var x;
    if (confirm("Press a button!") == true) {
        x = "You pressed OK!";
    } else {
        x = "You pressed Cancel!";
    }
    document.getElementById("demo").innerHTML = x;
}
</script>  
{% endblock %}
