{% extends 'base.html.twig' %}

{% block body %}
    <h1>Commande list</h1>

    <table>
        <thead>
            <tr>
                <th>Total</th>
                <th>Date</th>
                <th>Idcmd</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': commande.idcmd }) }}">{{ commande.total }}</a></td>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ commande.idcmd }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('commande_show', { 'id': commande.idcmd }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('commande_edit', { 'id': commande.idcmd }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('commande_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
