{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}


    {% block coname %}    {{parent()}}  Unités {% endblock %}
    {{parent()}}


    <div>
        <label style="color: black;" >Rechercher </label>

        <input id="searchInput" />
        <br>
    </div>

    <table  class="table table-bordered">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Datefinvalidite</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody  id="fbody">
        {% for unite in unites %}
            <tr>
                <td><a href="{{ path('unite_show', { 'id': unite.idunite }) }}">{{ unite.libelle }}</a></td>
                <td>{% if unite.datefinvalidite %}{{ unite.datefinvalidite|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
           
                            <a href="{{ path('unite_show', { 'id': unite.idunite }) }}" class="btn btn-warning btn-md" role="button">Afficher</a>
                            <a href="{{ path('unite_edit', { 'id': unite.idunite }) }}"  class="btn btn-info btn-md" role="button">Modifier</a>
                            <a href="{{ path('unite_del', { 'id': unite.idunite }) }}"  class="btn btn-danger btn-md" role="button">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
            <a href="{{ path('unite_new') }}"  class="btn btn-success btn-md" >Nouvelle unité</a>
   <script>
        function myFunction() {
            var x;
            if (confirm("Press a button!") == true) {
                x = "You pressed OK!";
            } else {
                x = "You pressed Cancel!";
            }
            document.getElementById("demo").innerHTML = x;
        }
    </script>  
{% endblock %}
