{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {% endblock %}
    
{% block body %}
    
        
  {% block coname %}    {{parent()}}  Unite : {{ unite.libelle }} {% endblock %}
{{parent()}}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ unite.libelle }}</td>
            </tr>
            <tr>
                <th>Datefinvalidite</th>
                <td>{% if unite.datefinvalidite %}{{ unite.datefinvalidite|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

        </tbody>
    </table>


            <a href="{{ path('unite_index') }}" class="btn btn-warning"  >Revenir a la list</a>
            <a href="{{ path('unite_edit', { 'id': unite.idunite }) }}"  class="btn btn-info btn-md" >Modifier</a>
            <a href="{{ path('unite_del', { 'id': unite.idunite }) }}" class="btn btn-danger btn-md" >Supprimer</a>



{% endblock %}
