{% extends 'base.html.twig' %}

{% block body %}
    <h1>ProduitService list</h1>

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Fournit</th>
                <th>Libelle</th>
                <th>Idprod</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produitService in produitServices %}
            <tr>
                <td><a href="{{ path('produitservice_show', { 'id': produitService.idprod }) }}">{{ produitService.description }}</a></td>
                <td>{% if produitService.fournit %}Yes{% else %}No{% endif %}</td>
                <td>{{ produitService.libelle }}</td>
                <td>{{ produitService.idprod }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('produitservice_show', { 'id': produitService.idprod }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('produitservice_edit', { 'id': produitService.idprod }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('produitservice_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
