{% extends 'client.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}


    {% block coname %}    {{parent()}}  Créer un nouveau Produit / Service {% endblock %}
    {{parent()}}


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit"value="Créer" class="btn btn-success" />
    {{ form_end(form) }}

            <a href="{{ path('produitservice_index') }}" class="btn btn-warning" >Revenir a la liste</a>

{% endblock %}
