{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {% endblock %}
    
{% block body %}
        
  {% block coname %}    {{parent()}} Modifier  Mode de paiement {% endblock %}
{{parent()}}


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit"  value="Modifier"  class="btn btn-success btn-md" />
    {{ form_end(edit_form) }}

            <a href="{{ path('modepaiement_index') }}" class="btn btn-warning btn-md" >Revenir a la liste</a>
      
{% endblock %}
