{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {% endblock %}
    
{% block body %}
    
        
  {% block coname %}    {{parent()}}  Mode paiement : {{ modepaiement.libelle }} {% endblock %}
{{parent()}}

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ modepaiement.libelle }}</td>
            </tr>
            <tr>
                <th>Banque</th>
                <td>{{ modepaiement.idbanque }}</td>
            </tr>
      
        </tbody>
    </table>

            <a href="{{ path('modepaiement_index') }}"  class="btn btn-warning"  >Revenir a la list</a>
    
            <a href="{{ path('modepaiement_edit', { 'id': modepaiement.idpaiement }) }}" class="btn btn-info btn-md" >Modifier</a>
            <a href="{{ path('modepaiement_del', { 'id': modepaiement.idpaiement }) }}" class="btn btn-danger btn-md" >Supprimer</a>
  
{% endblock %}
