{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modepaiement</h1>

    <table>
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ modepaiement.libelle }}</td>
            </tr>
            <tr>
                <th>Idpaiement</th>
                <td>{{ modepaiement.idpaiement }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modepaiement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('modepaiement_edit', { 'id': modepaiement.idpaiement }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
