{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {% endblock %}
    
{% block body %}
    
        
  {% block coname %}    {{parent()}}  Fournisseur : {{ fournisseur.raisonsociale }} {% endblock %}
{{parent()}}

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Raison sociale</th>
                <td>{{ fournisseur.raisonsociale }}</td>
            </tr>
            <tr>
                <th>Adresse fournisseur</th>
                <td>{{ fournisseur.adrfour }}</td>
            </tr>
            <tr>
                <th>Numéro de téléphone</th>
                <td>{{ fournisseur.telfour }}</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>{{ fournisseur.faxfour }}</td>
            </tr>
            <tr>
                <th>Site web</th>
                <td>{{ fournisseur.sitewebfour }}</td>
            </tr>
            <tr>
                <th>Idfournisseur</th>
                <td>{{ fournisseur.idfournisseur }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('fournisseur_index') }}"  class="btn btn-warning"  >Revenir a la list</a>
    
            <a href="{{ path('fournisseur_edit', { 'id': fournisseur.idfournisseur }) }}" class="btn btn-info btn-md" >Modifier</a>
            <a href="{{ path('fournisseur_del', { 'id': fournisseur.idfournisseur }) }}" class="btn btn-danger btn-md" >Supprimer</a>
  
{% endblock %}
