{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block body %}


    {% block coname %}    {{parent()}}  Tax : {{ tax.libelle }} {% endblock %}
    {{parent()}}


    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Libelle</th>
                <td>{{ tax.libelle }}</td>
            </tr>
            <tr>
                <th>Pourcentage</th>
                <td>{{ tax.pourcentage }} %</td>
            </tr>
            <tr>
                <th>Datefinvalidite</th>
                <td>{% if tax.datefinvalidite %}{{ tax.datefinvalidite|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('tax_index') }}"  class="btn btn-warning"  >Revenir a la list</a>
    <a href="{{ path('tax_edit', { 'id': tax.idtax }) }}" class="btn btn-info btn-md" >Modifier</a>
    <a href="{{ path('tax_del', { 'id': tax.idtax }) }}" class="btn btn-danger btn-md" >Supprimer</a>

{% endblock %}
