{% extends 'client.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    {% endblock %}
    
{% block body %}
    
        
  {% block coname %}    {{parent()}}  Produit : {{ produitService.libelle }}{% endblock %}
{{parent()}}

    <table class="table table-striped">
        <tbody>
              <tr>
                <th>Libelle</th>
                <td>{{ produitService.libelle }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produitService.description }}</td>
            </tr>
            <tr>
                <th>Fournit</th>
                <td>{% if produitService.fournit %}Yes{% else %}No{% endif %}</td>
            </tr>
          
            <tr>
                <th>Unite</th>
                <td>{{ produitService.codeunite }}</td>
            </tr>
            
            <tr>
                <th>Fournisseur</th>
                <td>{{ produitService.idfournisseur }}</td>
            </tr>
             <tr>
                <th>Nature</th>
                <td>{{ produitService.idnature }}</td>
            </tr>
        </tbody>
    </table>

  
            <a href="{{ path('produitservice_index') }}" class="btn btn-warning"  >Revenir a la list</a>
   
            <a href="{{ path('produitservice_edit', { 'id': produitService.idprod }) }}" class="btn btn-info btn-md" >Modifier</a>
            <a href="{{ path('produitservice_del', { 'id': produitService.idprod }) }}" class="btn btn-danger btn-md" >Supprimer</a>
 

{% endblock %}
